extends layout

block content

 .container
   .row(style='padding:50px  0 10px 0')
      .col-md-12
             h2 About Us
             p We are software development company in India who understand that success comes when you arjpsitgroup-s1e associated with righteous business partners. 
             We are professional company with friendly approach to client relationships. its Headquartered in New Delhi. With a team of skilled professionals and 
             state-of-art infrastructure, our work strategy is always client and their market centered. We understand that for a successful business, traveling that 
             extra edge is essential. We are steadfast to provide products and services that matter and will redefine the client business. Our team is proficient in 
             delivering highly advanced and customized IT solutions. They have good communication and interpersonal skills, which helps during client discussion and knowledge
             transfer. The ideas that originate in-house or from across the ocean, are put to reality at Work. We are flexible, practical, and willing to work with clients for
             long lasting relationships. The work accomplished by us has made us a valuable contributor in India progress as the most preferred Offshore Software Solutions centre 
             on the globe. We put innovation and hard work in all our projects. company focused in areas of Custom software solutions, Website development services, Embedded
             solutions, Multimedia services, Software jpsitgrouphomedevelopment, Outsourcing solutions , E-commerce, Testing solutions, mobile application and Technical 
             writing. Our services are as varied as our clients that include both the private and public undertakings for all business verticals. We are committed to outclass
             in software quality and reliability, providing futuristic technology, and absolute customer services to all our clients.
   
   
          
      
      
       