extends layout

block content

 .container
   .row(style='padding:50px  0 10px 0')
      .col-md-12
         h2 Software Development
         p Mobile friendly websites, desktop applications development, SEO, Inventory System, e-commerce, web hosting server and maintenance.
         h2 Consulting
         p We are provide consulting services in Software implementation, Hardware, Information Technology, Solr services, AWS services and AWS cloud services.
         h2 Traning
         p We provide training on web application, desktop application development using JAVA, J2EE, Groovy, HTML, PHP, WordPRess and Magento CMS. We also provide project industrial training.
         h2 Digital Marketing
         Digital marketing is measurable, and interactive marketing of products or services. The key objective is to promote brands, build preference and increase sales.
   
   
          
      
      
       