extends layout

block content

 .container
   .row(style='padding:50px  0 10px 0')
      .col-md-12
         h2 Technology Expertise
         .row
            .col-md-6
              ul
               <li> Java
               <li> Groovy
               <li> Python
               <li> Javascripts
               <li> NodeJs
               <li> Elasticsearch
               <li> Kibana
               <li> head, kopf
               <li> Solr
               <li> Mysql, MSSql
               <li> Codeignitor
               <li> WordPress
                     
            .col-md-6   
              ul
               <li> Maven
               <li> Ant
               <li> Latex
               <li> Github
               <li> Bitbucket
               <li> isvn
               <li> Apache Apache tomcat
               <li> Bootstrap
               <li> MVC
               <li> Analytics
               <li> Data Crawling
               <li> Selenium          
          
      
      
       